/* CSS FILE */

body{
    font-family: 'Courier New', Courier, monospace;
}
.header, .footer{
    display:flex;
    background-color: #1f2937;
    color: white;
    align-items: center;
}

.logo{
    font-weight: 600;
    font-size: 30px;
}

.links{
    display:flex;
    color: inherit;
    gap:8px;
    list-style-type: none;
    margin-left: auto;
    padding: 10px;

}

a{
    color: #fff;
    text-decoration: none;
  
  }

.section2{
    background-color: white;
    height: 200px; 
}

.section3{
    background-color: #E5e7eb;
    height: 300px; 
}

.section4{
    background-color: white;
    height: 100px; 
}


.section1{
    
    columns: white;
    background-color: #1f2937;
    padding: 100px;
    /* display:flex;
    justify-content: space-around;
    align-items: center; */
}

.section1container{
    display:flex;
    gap:10px;
    align-items: flex-start;
    justify-content: center;
    min-width: fit-content;
}


.herocontainer{
    /* display:flex;
    flex-direction: column;
    justify-content: space-evenly; */
    color: #E5e7eb;
    font-size: 18px;
    height: 240px;
    width:366px;
    flex:0 0 auto;
}

.heromain{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin:0;
}

button{
    width:120px;
    background-color: #0000ff;
    color: #fff;
    padding:4px;
    font-weight: 800;
    border-radius: 5px;

}