:root{
  --grid-width: 10px;
  --stone-diameter: calc(var(--grid-width) - 1px);
  --stone-x: 3;
  --stone-y: 4;

}

.container {
    display: grid;
    grid-template-columns: repeat(18,var(--grid-width));
    grid-template-rows: repeat(18,var(--grid-width));
    position:relative;
  }
  
  .container > div {
    box-sizing: border-box;
    border: 0.5px solid rgb(0, 0, 0);
    background-color: rgb(243, 214, 179);
    width: var(--grid-width);
    height: var(--grid-width);
  }

  .container > div.stone1 {
    box-sizing: border-box;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius:50%;
    background-color: rgb(255, 255, 255);
    width: var(--stone-diameter);
    height: var(--stone-diameter);
    position:absolute;
    top:calc(-0.5 * var(--stone-diameter) + (var(--stone-y) - 1) * var(--grid-width));
    left: calc(-0.5 * var(--stone-diameter) + (var(--stone-x) - 1) * var(--grid-width));
  }

  .container > div.stone2 {
    box-sizing: border-box;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius:50%;
    background-color: rgb(0, 0, 0);
    width: var(--stone-diameter);
    height: var(--stone-diameter);
    position:absolute;
    top:calc(-0.5 * var(--stone-diameter) + (3 - 1) * var(--grid-width));
    left: calc(-0.5 * var(--stone-diameter) + (5 - 1) * var(--grid-width));
  }